@import '../../variables.scss';

.order__container {
  margin-bottom: 1rem;
  border: 1px solid $color-border;
  border-radius: .25rem;
  padding: 1rem 1.5rem;
}

.order__price {
  color: $color-text-order-price;
}

.order__notes {
  word-wrap: break-word;      /* IE 5.5-7 */
  white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
  white-space: pre-wrap;      /* current browsers */
}

.order__button-group {
  margin: 2rem -.75rem 0;
}
