$color-danger: #dc3545;

$color-text: #212529;
$color-text-order-price: #155724;
$color-border: #ced4da;

$color-button-normal-text: #212529;
$color-button-normal-content: #ffffff;
$color-button-normal-border: #f7f7f9;
$color-button-normal-content-hover: #f7f7f9;
$color-button-normal-border-hover: #f7f7f9;

$color-button-primary-text: #ffffff;
$color-button-primary-content: #007bff;
$color-button-primary-border: #007bff;
$color-button-primary-content-hover: #0069d9;
$color-button-primary-border-hover: #0062cc;


$color-button-danger-text: #ffffff;
$color-button-danger-content: $color-danger;
$color-button-danger-border: $color-danger;
$color-button-danger-content-hover: #c82333;
$color-button-danger-border-hover: #bd2130;
